

  .nav-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
  }
  
  .nav-toggle i {
    font-size: 24px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: rgb(236, 229, 229);
    backdrop-filter: blur(15px);
    width: 100%;
  }
  
  .nav-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #333;
  }
  
  
  @media (min-width: 480px) {
    .nav-toggle {
      display: none;
    }
    .nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
    }
    .nav-list li {
      border-bottom: none;
    }
   
  }